.chat-message-user {
 color:blue;
 text-indent: 20%;   
}
.screen{
    display: inline-block;
}
header{
    font-size: 24px;
    color:green;
    background-color: black;
    justify-content: center;
}
#scrolltips{
    overflow: scroll;
    width: 200px;
    height:360px;
    float:right;
    border:2px solid black;
}
#interactions{
    width: 300px;
    height:160px;
    border:2px solid black;
}
#char-display{
    width:300px;
    height:198px;
    border:2px solid black;
}
canvas {
    float:left;
    border: 2px solid rgb(85, 7, 7);
    background-color: black;
}